h1{
font-family:Impact, Charcoal, sans-serif;
colour:blue;
}
h2{
font-family:"Arial Black", Gadget, sans-serif;
colour: navy blue;
}
P{
font family:Tahoma, Geneva, sans-serif;
}
body {
background colour:#99ccff
}
